*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(3,4,7,0.48), rgba(5,10,30,0.48)), url("https://github.com/magnumz888/HTML-Activity-Images/raw/main/pexels-royal-anwar-450214.jpg");
    background-size: cover;
    background-position: center;
}
.header-brand{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
}

.header-brand__span{
    color: #3807FC;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.header-text h1{
    font-size: 70px;
}